<%- include('partials/header'); -%>

  <div class="head">
    <span>My dashboard</span>
    <a href="/profile"><font color="black">My Profile</font></a>
  </div>


  <ul class="courses">
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZJYKg_TrRLk" title="YouTube video player" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen></iframe>
      <h4>TAJ HOTEL</h4>
    </li>
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/4XSU39YXmWY" title="YouTube video player" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>Gateway(Monuments in Mumbai)</h4>

    </li>
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/cAbA0oammRI" title="YouTube video player"
       frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>Marine Drive</h4>

    </li>
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/N8AzQ5XQ-fM" title="YouTube video player" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>Juhu beach</h4>

    </li>
  </ul>

  <%- include('partials/footer'); -%>