<%- include('partials/header'); -%>

  <header>
    <div class="headings">
      <center>
        <h1 align="center"><marquee width="50%" direction="left" height="100%" style="order: black;
          border-style: solid;
          border-radius: 65px;
          background: black;"><font color="white">DO COME AND VISIT</font> <font color="blue"><b>MUMBAI</b></font></marquee></h1><br><br>
      <h4 style="font-family: idler;">Mumbai Darshan is a comprehensive tour of the beautiful city of Mumbai, where you are taken to all 
        the important tourist destinations including the Gateway of India, Siddhivinayak Temple, Taj Mahal
         Hotel, Bandra Bandstand and many more iconic places. The tour contains a pickup and drop for 
         tourists who <b>sign up for the tour.</b></h3><br><br>
      <a href="/login" class="btn" style="background-color: #0d6efd;
      border-radius: 25px ; align-content: center; color: white;font-size: 20px;"> Explore </a>
      </center>

  </div>
  </header>


<%- include('partials/footer'); -%>